.u-section-121 .u-sheet-1 {
  min-height: 390px;
}

.u-section-121 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-121 .u-line-1 {
  width: 570px;
  transform-origin: left center 0px;
  margin: 4px auto 0;
}

.u-section-121 .u-form-1 {
  height: 298px;
  width: 570px;
  margin: 0 auto;
}

.u-section-121 .u-form-group-1 {
  margin-left: 0;
}

.u-section-121 .u-form-group-2 {
  margin-left: 0;
}

.u-section-121 .u-form-group-3 {
  margin-left: 0;
}

.u-section-121 .u-form-group-4 {
  margin-left: 0;
}

.u-section-121 .u-form-group-5 {
  margin-left: 0;
}

.u-section-121 .u-btn-1 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-121 .u-line-1 {
    height: 3px;
  }

  .u-section-121 .u-form-1 {
    margin-right: 205px;
    margin-left: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-121 .u-form-1 {
    margin-right: 95px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-121 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-121 .u-line-1 {
    width: 540px;
  }

  .u-section-121 .u-form-1 {
    margin-right: auto;
    margin-left: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-121 .u-line-1 {
    width: 340px;
  }

  .u-section-121 .u-form-1 {
    width: 340px;
  }
}