.u-section-56 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-56 .u-text-1 {
  font-weight: 900;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-56 .u-text-2 {
  width: 570px;
  margin: 20px auto 0;
}

.u-section-56 .u-form-1 {
  height: 156px;
  width: 570px;
  margin: 0 auto 60px;
}

.u-section-56 .u-btn-1 {
  width: 100%;
  padding: 10px 31px 10px 29px;
}

@media (max-width: 767px) {
  .u-section-56 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-56 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-56 .u-text-2 {
    width: 340px;
  }

  .u-section-56 .u-form-1 {
    width: 340px;
  }
}