.u-section-46 .u-sheet-1 {
  min-height: 55px;
}

.u-section-46 .u-text-1 {
  font-weight: 700;
  margin: 1px auto;
}

@media (max-width: 767px) {
  .u-section-46 .u-sheet-1 {
    min-height: 54px;
  }
}
.u-section-47 .u-sheet-1 {
  min-height: 553px;
}

.u-section-47 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0;
  padding: 9px 144px 9px 143px;
}

.u-section-47 .u-icon-1 {
  font-size: 1.5626em;
  margin-right: 0;
  vertical-align: -2px;
  color: rgb(255, 255, 255) !important;
}

.u-section-47 .u-btn-2 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 9px 156px 10px 155px;
}

.u-section-47 .u-icon-2 {
  font-size: 1.4376em;
  margin-right: 0;
  vertical-align: -2px;
  color: rgb(255, 255, 255) !important;
}

.u-section-47 .u-group-1 {
  width: 550px;
  min-height: 39px;
  margin: 19px auto 0;
}

.u-section-47 .u-line-1 {
  height: 3px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-47 .u-shape-1 {
  width: 39px;
  height: 39px;
  background-image: none;
  text-align: center;
  margin: -23px auto 0;
}

.u-section-47 .u-text-1 {
  text-align: center;
  margin: -37px auto 0;
}

.u-section-47 .u-form-1 {
  height: 281px;
  width: 570px;
  margin: 0 auto;
}

.u-section-47 .u-input-1 {
  background-image: none;
}

.u-section-47 .u-input-2 {
  background-image: none;
}

.u-section-47 .u-btn-3 {
  width: 100%;
  padding: 10px 30px;
}

.u-section-47 .u-btn-4 {
  border-style: none none solid;
  align-self: center;
  margin: 8px 285px 0 auto;
  padding: 0;
}

.u-section-47 .u-btn-5 {
  border-style: none none solid;
  align-self: center;
  margin: -26px auto 22px 285px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-47 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-47 .u-line-1 {
    margin-left: initial;
  }

  .u-section-47 .u-btn-4 {
    margin-right: 85px;
    margin-left: 572px;
  }

  .u-section-47 .u-btn-5 {
    margin-left: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-47 .u-form-1 {
    margin-top: 3px;
  }

  .u-section-47 .u-btn-4 {
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-47 .u-btn-5 {
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-47 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-47 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 140px;
    padding-left: 139px;
  }

  .u-section-47 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 152px;
    padding-left: 151px;
  }

  .u-section-47 .u-group-1 {
    width: 540px;
  }

  .u-section-47 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-47 .u-btn-4 {
    margin-right: 0;
    margin-left: 368px;
  }

  .u-section-47 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-47 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-47 .u-btn-1 {
    border-style: none;
    padding: 8px 41px 10px 39px;
  }

  .u-section-47 .u-btn-2 {
    padding-right: 52px;
    padding-bottom: 9px;
    padding-left: 51px;
  }

  .u-section-47 .u-group-1 {
    width: 340px;
  }

  .u-section-47 .u-btn-4 {
    margin-left: 168px;
  }
}
