.u-section-36 .u-sheet-1 {
  min-height: 444px;
}

.u-section-36 .u-text-1 {
  margin: 33px auto 0;
}

.u-section-36 .u-form-1 {
  height: 240px;
  width: 570px;
  margin: 28px auto 60px;
}

.u-section-36 .u-btn-1 {
  width: 100%;
}

@media (max-width: 767px) {
  .u-section-36 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-36 .u-form-1 {
    width: 340px;
  }
}