.u-section-26 .u-sheet-1 {
  min-height: 83px;
}

.u-section-26 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-26 .u-layout-cell-1 {
  min-height: 82px;
}

.u-section-26 .u-container-layout-1 {
  padding: 0;
}

.u-section-26 .u-btn-1 {
  border-style: none;
  margin: 17px auto 0 0;
  padding: 8px 37px;
}

.u-section-26 .u-layout-cell-2 {
  min-height: 82px;
}

.u-section-26 .u-container-layout-2 {
  padding: 30px;
}

.u-section-26 .u-image-1 {
  width: 190px;
}

.u-section-26 .u-layout-cell-3 {
  min-height: 82px;
}

.u-section-26 .u-container-layout-3 {
  padding: 17px 30px;
}

.u-section-26 .u-btn-2 {
  border-style: none;
  margin: 0 0 0 auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-26 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-26 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-26 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-26 .u-container-layout-1 {
    padding: 17px 30px;
  }

  .u-section-26 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-26 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-26 .u-layout-cell-3 {
    min-height: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-26 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-26 .u-layout-cell-2 {
    min-height: 52px;
  }

  .u-section-26 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-26 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-26 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-26 .u-layout-cell-1 {
    min-height: 24px;
  }

  .u-section-26 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-26 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-26 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-26 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-26 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-26 .u-btn-2 {
    margin-top: -105px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-26 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-26 .u-layout-cell-1 {
    min-height: 34px;
  }

  .u-section-26 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-26 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-27 .u-sheet-1 {
  min-height: 206px;
}

.u-section-27 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-27 .u-line-1 {
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-27 .u-form-1 {
  height: 126px;
  margin-top: -3px;
  margin-bottom: 0;
}

.u-section-27 .u-form-group-3 {
  margin-left: 0;
}

.u-section-27 .u-btn-1 {
  width: 100%;
}.u-section-28 .u-sheet-1 {
  min-height: 418px;
}

.u-section-28 .u-text-1 {
  margin: 30px 386px 0 auto;
}

.u-section-28 .u-line-1 {
  height: 3px;
  margin-top: -3px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-28 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-28 .u-layout-cell-1 {
  min-height: 79px;
}

.u-section-28 .u-container-layout-1 {
  padding: 0 3px;
}

.u-section-28 .u-text-2 {
  margin: 0 auto;
}

.u-section-28 .u-layout-cell-2 {
  min-height: 79px;
}

.u-section-28 .u-container-layout-2 {
  padding: 0;
}

.u-section-28 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -2px auto 0 6px;
}

.u-section-28 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 81px;
}

.u-section-28 .u-image-1 {
  min-height: 79px;
  background-image: url("images/pexels-photo-5325681.jpeg");
  background-position: 50% 50%;
}

.u-section-28 .u-container-layout-3 {
  padding: 0;
}

.u-section-28 .u-layout-cell-4 {
  min-height: 79px;
}

.u-section-28 .u-container-layout-4 {
  padding: 0;
}

.u-section-28 .u-form-1 {
  height: 48px;
  width: 664px;
  margin: 15px 0 0;
}

.u-section-28 .u-layout-cell-5 {
  min-height: 79px;
}

.u-section-28 .u-container-layout-5 {
  padding: 1px 11px;
}

.u-section-28 .u-icon-3 {
  width: 53px;
  height: 53px;
  margin: 0;
}

.u-section-28 .u-layout-cell-6 {
  min-height: 28px;
}

.u-section-28 .u-container-layout-6 {
  padding: 0;
}

.u-section-28 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: right center 0px;
}

@media (max-width: 1199px) {
  .u-section-28 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-28 .u-text-1 {
    margin-right: 318px;
  }

  .u-section-28 .u-layout-cell-1 {
    min-height: 96px;
  }

  .u-section-28 .u-layout-cell-2 {
    min-height: 96px;
  }

  .u-section-28 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-28 .u-icon-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-28 .u-image-1 {
    min-height: 96px;
  }

  .u-section-28 .u-layout-cell-4 {
    min-height: 96px;
  }

  .u-section-28 .u-form-1 {
    width: 548px;
  }

  .u-section-28 .u-layout-cell-5 {
    min-height: 96px;
  }

  .u-section-28 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-28 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-28 .u-layout-cell-6 {
    min-height: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-28 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-28 .u-text-1 {
    margin-top: 31px;
    margin-right: 244px;
  }

  .u-section-28 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-28 .u-layout-cell-1 {
    min-height: 48px;
  }

  .u-section-28 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-28 .u-image-1 {
    min-height: 99px;
  }

  .u-section-28 .u-layout-cell-4 {
    min-height: 82px;
  }

  .u-section-28 .u-form-1 {
    width: 720px;
    margin-top: 0;
  }

  .u-section-28 .u-layout-cell-5 {
    min-height: 47px;
  }

  .u-section-28 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-28 .u-layout-cell-6 {
    min-height: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-28 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-28 .u-text-1 {
    margin-top: 1px;
    margin-right: auto;
  }

  .u-section-28 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-28 .u-layout-cell-1 {
    min-height: 35px;
  }

  .u-section-28 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-28 .u-icon-1 {
    margin-left: 147px;
  }

  .u-section-28 .u-icon-2 {
    margin-top: -62px;
    margin-left: 329px;
  }

  .u-section-28 .u-image-1 {
    min-height: 119px;
  }

  .u-section-28 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-28 .u-form-1 {
    width: 540px;
  }

  .u-section-28 .u-layout-cell-5 {
    min-height: 38px;
  }

  .u-section-28 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-28 .u-layout-cell-6 {
    min-height: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-28 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-28 .u-layout-cell-1 {
    min-height: 15px;
  }

  .u-section-28 .u-icon-1 {
    margin-left: 72px;
  }

  .u-section-28 .u-icon-2 {
    margin-top: -64px;
    margin-left: 204px;
  }

  .u-section-28 .u-image-1 {
    min-height: 75px;
  }

  .u-section-28 .u-form-1 {
    width: 340px;
    margin-top: 10px;
  }

  .u-section-28 .u-layout-cell-5 {
    min-height: 47px;
  }

  .u-section-28 .u-icon-3 {
    margin-top: 6px;
  }

  .u-section-28 .u-layout-cell-6 {
    min-height: 9px;
  }
}