.u-section-18 .u-sheet-1 {
  min-height: 560px;
}

.u-section-18 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-18 .u-line-1 {
  margin-bottom: 0;
  margin-top: 0;
  transform-origin: left center 0px;
}

.u-section-18 .u-table-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-18 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-c058-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-18 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-18 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-18 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-18 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-18 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-18 .u-table-cell-10 {
  margin-top: 20px;
}

.u-section-18 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.125em;
}

.u-section-18 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.125em;
}

.u-section-18 .u-icon-3 {
  font-size: 2.125em;
}

.u-section-18 .u-icon-4 {
  font-size: 2.125em;
}

.u-section-18 .u-icon-5 {
  font-size: 2.125em;
}

.u-section-18 .u-icon-6 {
  font-size: 2.125em;
}

.u-section-18 .u-icon-7 {
  font-size: 2.125em;
}

.u-section-18 .u-icon-8 {
  font-size: 2.125em;
}