.u-section-16 .u-sheet-1 {
  min-height: 55px;
}

.u-section-16 .u-text-1 {
  font-weight: 900;
  margin: 1px auto;
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    margin-top: 62px;
    margin-bottom: 0;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 473px;
}

.u-section-17 .u-form-1 {
  height: 453px;
  width: 570px;
  margin: 40px auto 0;
}

.u-section-17 .u-input-1 {
  background-image: none;
}

.u-section-17 .u-form-group-2 {
  margin-left: 0;
}

.u-section-17 .u-input-2 {
  background-image: none;
}

.u-section-17 .u-input-3 {
  background-image: none;
}

.u-section-17 .u-form-group-4 {
  margin-left: 0;
}

.u-section-17 .u-input-4 {
  background-image: none;
}

.u-section-17 .u-btn-1 {
  width: 100%;
  border-style: solid;
  padding: 10px 30px;
}

.u-section-17 .u-btn-2 {
  border-style: none none solid;
  margin: 0 auto 40px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-btn-2 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-btn-2 {
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-form-1 {
    width: 540px;
  }

  .u-section-17 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-form-1 {
    width: 340px;
  }
}