.u-section-136 .u-sheet-1 {
  min-height: 557px;
}

.u-section-136 .u-text-1 {
  letter-spacing: 2px;
  font-size: 4.375rem;
  font-weight: 700;
  font-family: Barlow;
  line-height: 1;
  margin: 0 auto;
}

.u-section-136 .u-icon-1 {
  color: rgb(71, 138, 201) !important;
}

.u-section-136 .u-text-2 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 600;
  width: 663px;
  margin: 13px auto 0;
}

.u-section-136 .u-form-1 {
  height: 126px;
  width: 663px;
  margin: 13px auto 0;
}

.u-section-136 .u-btn-1 {
  width: 100%;
}

.u-section-136 .u-image-1 {
  width: 644px;
  height: 297px;
  margin: -33px auto -11px;
}

@media (max-width: 1199px) {
  .u-section-136 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-136 .u-form-1 {
    width: 570px;
  }

  .u-section-136 .u-image-1 {
    height: 268px;
    margin-top: -26px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-136 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-136 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 12px;
  }

  .u-section-136 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-136 .u-image-1 {
    height: 287px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-136 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-136 .u-text-2 {
    width: 540px;
  }

  .u-section-136 .u-form-1 {
    width: 540px;
  }

  .u-section-136 .u-image-1 {
    width: 540px;
    height: 248px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-136 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-136 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-136 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }

  .u-section-136 .u-form-1 {
    width: 340px;
  }

  .u-section-136 .u-image-1 {
    height: 156px;
    margin-top: -14px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.custom-search-css {
	z-index:3;
}
.custom-picture-css {
	z-index:0;
}

    .category{
        margin:0;
        padding:0;
    }
    .category ul{
    	list-style-type:none;
        margin:0;       
        padding:0;
        display:flex;
        overflow:hidden;
        align-items:center;
        border:1px solid lightgrey;
        background-color: #EFEFEF;
        overflow-x: scroll;
    }

    .category li a{
    	margin:0;
        padding:0;
        color:black;
        display: block;
  		text-align: center;
  		padding: 10px 16px;
    }
	/* Hide scrollbar for Chrome, Safari and Opera */
    .category ul::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .category ul{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      
    }
    .category select{
    	margin:0;
        padding:0;
    	width:auto;
    }
    .category .tableBackgroundStripes{
    	background-color: #CCCCCC;
    }
    
    @media (min-width:700px){
    
    .category-section{
    	display:flex;
        max-width:1000px;
        margin:0 auto;
    }
    .category{
    	width:10em;
    }
    .category ul{
    	display:flex;
        flex-direction:column;
        height:100%;        
    }
    .category ul li{
        padding:0.3em 0;
    }
    .category select{
    	margin:0;
        padding:0;
    	width:100%;
    }
    
}